
   <div class="container-fluid no-margin no-padding">
      <div class="banner">
        <img src="assets/img/pacotes-banner.jpg" alt="banner pacotes">
       
        <div class="container">
          <div class="banner-caption">
            PACOTES
            <div class="banner-caption-small">
             <small>
               Encontre aqui os melhores pacotes!
             </small>
            </div>
          </div>

        </div>
       

      </div>
    </div>

    <main role="main" class="container page-with-banner">
      
      <div class="row">
        <div class="col-md-4">
          <!-- filtro -->

          <div class="form-iuoff filtro-principal">
            <label class="filtro-principal-titulo">
              Econtre seu pacote
            </label>

            <label>Origem:</label>
            {{input type="text" placeholder="ex: SP" id="origem" value=origin}}

            <label>Destino:</label>
            {{input type="text" placeholder="ex: RE" id="destino" value=destination}}
            
            <label>Data ida</label>
            <input type="date" id="dataIda" disabled>

            <label>Data volta</label>
            <input type="date" id="dataVolta" disabled>          


          </div>


          <!-- filtros adicionais -->

          <div class="form-iuoff filtro-adicional">
            <div class="filtro-adicional-titulo">
              Filtros adicionais
              {{#if travelStyles.isPending}}
                <i class="fa fa-spin fa-spinner fx-5"></i> <br>
              {{/if}}
            </div>
            <div class="mt-15"></div>

            <div class="estilo-viagem-lista">
              {{#if travelStyles.isPending}}
                <div class="row">
                  <div class="col-xs-12">
                    <i class="fa fa-spin fa-spinner fx-5"></i> <br>
                  </div>
                </div>                 

                {{else}}
                  {{#each travelStyles as |travelStyle|}}             

                      <div class="checkbox">
                        <label for="{{travelStyle.name}}">
                          {{input type="checkbox" id=travelStyle.name changed=(action "setTravelStyle") }}
                          <i class="{{travelStyle.icon}}"></i> 
                          {{travelStyle.name}}
                        </label>
                      </div>
                  {{/each}}

              {{/if}}            
             
            </div>

          </div>


        </div>
        <div class="col-md-8">
          {{#if model.isPending}}
            {{!-- TODO criar componente de loading --}}
            <div class="container">
              <div class="col-xs-12">
                <i class="fa fa-spin fa-spinner fx-5"></i> <br>
                <h3>
                  Carregando....
                </h3>
              </div>
            </div>

          {{else}}
            {{#if filteredPackages}}
            <div class="row">
              {{#each filteredPackages as |package|}}                
                <div class="col-md-6">                  
                  <div class="card">                     
                     {{#if package.image}}
                        <img class="card-img-top" src={{package.image}}
                        alt="image do pacote">
                     {{else}}
                        <img class="card-img-top" src="assets/img/pacotes/iuoff-thumb.jpeg"
                        alt="iuoff thumb pacotes">
                     {{/if}}
                      
                      <div class="card-body">
                        <h5 class="card-title b-none">
                          {{package.title}}

                          <div class="small text-uppercase">
                            De: {{package.origin}} | Para: {{package.destination}}
                          </div>
                        </h5>

                      </div>
                      <div class="card-footer">
                        <div class="row">
                          <div class="col-sm-12 col-md-6">                            
                            {{package.numDias}}
                          </div>
                          <div class="col-sm-12 col-md-6">
                            <small>
                              a partir de
                            </small>
                            <br>
                            <span class="text-secondary negrito">
                              {{!-- TODO, criar helper pra formatar moeda --}}
                              R$ {{package.initialAmount}}
                            </span>
                          </div>
                        </div>

                      </div>
                  </div>
                </div>
              {{/each}}
              
            </div>
            {{else}}
              <div class="row">
                <div class="col-xs-12">
                  <h3>
                    <i class="fa fa-2x fa-info-circle"></i> Não foi encontrado nenhum resultado para sua pesquisa.
                  </h3>
                </div>
              </div>
            {{/if}}
            
           
          {{/if}}
         

        </div>

      </div>

    </main><!-- /.container -->