{{!-- hide menu and footer --}}
<style>
  #iuoff-menu, .mainNav, .footer, #atendimento {
    display: none !important;
  }
</style>

<section class="p-0 cadastra-se">
  <div class="container-fluid p-0">
    <div class="row no-gutters popup-gallery">

      <div style="padding-left: 5%;padding-left: 10%;padding-right:
        8%;padding-top: 1%;" class="col-lg-6 col-md-6 text-left">
        <div style="float: left; width: 100%;margin-bottom: 5%;">
          <a class="navbar-brand js-scroll-trigger" href="/index.html">
            <img style="" width="auto" height="100" width="200"
              src="assets/img/logo.png" class="custom-logo" alt="IUOFF"
            >
          </a>
          {{#link-to "home" class="close-register"}}  
           X
          {{/link-to}}
         
        </div>


        <h4 style="color: #3b5999;font-weight: 500;font-size: 1.6em;margin-top:
          3%;">Cadastre-se grátis</h4>
        <p style="color: gray; margin-top: 1%;">Faça seu cadastro para solicitar
          viagens, acompanhar propostas e efetuar compras.</p>


        <a class="btn border-white btn-xl"style="border: 1px solid #fff;color:
          #fff;background-color: #3b5999; border-bottom: 0px; width: 70%;
          border-radius: 15px;border-bottom: 1px solid #fff; border-bottom: 0px;
          text-transform: none;width: 100%;font-size: 1.3em;margin-top:
          2%;font-weight: 500;padding: 3%;" href="#"
         hidden> Cadastrar usando Facebook</a>
        <hr style="max-width: unset;border-width: 1.5px; border-color: #d8d2d2;"
          />

        <form style="color: #414141;">

          <p style="color: gray;">Ou inscreva-se usando seu email</p>

          <div style="width: 100%; margin-bottom: 3%;">
            <h4 style="color: #3b5999;width: 100%;">Nome</h4>
            {{input                
              placeholder="Digite seu nome completo *" 
              value=model.name
            }}
          </div>

          <div style="width: 100%; margin-bottom: 3%;">
            <h4 style="color: #3b5999;width: 100%;">CPF</h4>
            {{input                
              placeholder="cpf" 
              value=model.cpf
            }}
          </div>

          <div style="width: 100%; margin-bottom: 3%;">
            <h4 style="color: #3b5999;">E-mail</h4>           
            {{input 
              type="email"
              placeholder="Digite seu e-mail *"
              value=model.email
            }}
          </div>

          <div style="width: 100%; margin-bottom: 3%;">
            <h4 style="color: #3b5999;">Celular</h4>           
             {{input                
              placeholder="Digite aqui seu celuar *"
              value=model.cellPhone
             }}
            <div style="margin-top: 2%;">
              {{!-- phoneIsWhatsapp --}}
              <span style="font-style: italic;margin-top:0.1%;position: absolute;">Este telefone é Whatsapp</span>
              {{x-toggle
                value=model.phoneIsWhatsapp
                showLabels=true
                onLabel='Sim'
                offLabel='Não'
                onToggle=(action (mut model.phoneIsWhatsapp))
              }}
                           
            </div>
          </div>

          <div style="width: 100%; margin-bottom: 3%;">
            <h4 style="width: 100%; color: #3b5999;">Senha</h4>          

             {{input 
              type="password"              
              placeholder="Digite a senha *"
              value=model.passaword
             }}

           
            {{input 
              type="password"              
              placeholder="Confirme a senha *"
              value=model.passawordConfirmation              
            }}

            <p style="font-style: italic; color: gray;font-size:
              14px;padding-top: 4%;">
              * A senha deve conter no mínimo 6 dígitos sendo 1 número, 1 letra
              maíuscula, 1 letra minúscula e 1 símbolo.
            </p>
          </div>


          <a style="color: #fff ;border-radius: 15px; border: 3px solid #6DBE4C
            ; background: #6DBE4C ; font-weight: 700;font-size: 19px;width:
            100%;text-transform: none;padding: 2.7%;margin: 0% 0 0% 0;font-size:
            1.3em;font-weight: 500;" class="btn btn-light btn-xl sr-button"
           {{action "registerUser"}}>Cadastrar</a>

        </form>

        <footer style="margin-top: 10%;">

          <h5 style="color: #696767;
            font-weight: 700;font-size: 1.1rem;">IUOFF - Copyright 2017 - Todos
            os direitos reservados </h5>

          <a href="#" style="color:#007bff; font-size: 14px;">POLÍTICAS DE
            PRIVACIDADE</a>

          <a href="#" style="color:#007bff; font-size: 14px; padding-left: 2%;">TERMOS
            E CONDIÇÕES</a>
        </footer>
      </div>


      <div style="min-height: 700px; padding-top: 2%;background-image:
        url(assets/img/CadastreSe/imagens/img-princiapl-com-overay.jpg);
        background-size:cover;" class="col-lg-6 col-md-6 text-left">

        <div style="margin: 0 auto; color: #fff;" class="col-lg-8 col-md-12
          text-center">


          <div style="width: 60%; height: 100%;" class="mt-5 mx-auto">
            <span style="color: #fff;float: left;" class="icon-piggy-bank
              icon-big"></span>
            <h2 class="" style="font-weight: 700; color: #fff;width:
              50;padding-top: 10%;">Economize! </h2>
          </div>



        </div>


        <div style="margin: 0 auto; color: #fff;" class="col-lg-10 col-md-12
          text-center">
          <div style="100%;" class="mt-4 mx-auto">

            <h2 class="mb-0" style="color: #fff;line-height: 1;font-weight:
              200;">Você diz quanto quer pagar e ainda ganha tempo no
              planejamento e aquisição da sua viagem.</h2>
          </div>




        </div>


      </div>



    </div>
  </div>
</section>